@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

@layer base {
  :root{
    --color-white: 255 255 255;
    --color-green1: #758650;
    --color-green2: #B5C267;
    --color-yellow: #FFE27C;
    --color-orange: #E8B636;
    --color-beige: #E9D6C2;
    --color-brown: #C9B6A1;
    --color-error: #FF0000;
  }
}