@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@layer base {
  :root{
    --color-white: 255 255 255;
    --color-green1: #729624;
    --color-green2: #A8CF54;
    --color-yellow: #F08626;
    --color-orange: #FBA320;
    --color-beige: #FFF2E7;
    --color-brown: #C9B6A1;
    --color-error: #FF0000;
    --color-grey: #F1F2F7;
    --color-hint: #C2BDBD;
  }
}